ul{
    padding: 40px;
}

ul li{
    font-family: "Poppins", sans-serif;
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    min-width: 360px;
    padding-bottom: 25px;
}   

img{
    cursor: pointer;
    height: 300px;
    width: 310px;
    height: 455px;
    padding: 0px;
    box-shadow: 10px 5px 5px hsla(0, 0%, 0%, 0.158);
    transition: 500ms;
}

img:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 25px 10px rgb(168, 0, 0);
}

li p{
    margin: 0;
}

.sr{
    visibility: hidden;
    margin: auto;
    text-align: center;
}
@media (max-width: 768px){
    ul{
        padding: 0;
    }
    ul li{
        display: inline-block;
        width: 100%;
        justify-content: center;
        list-style: none;
        margin: 0 auto;
        text-align: center;
        min-width: 360px;
    }   
}

@media (min-width: 1024px) and (max-width: 1599px){
    ul{
        padding-left: 40px;
    }

    ul li{
        min-width: 420px;
    }   
}